<table id="cihuibiao">
    <thead>
        <tr><th>Traditional</th><th>Simplified</th><th>Pinyin</th></tr>
    </thead>
    <tbody>
        <tr><td><form><input id="entry1-traditional", type="text"></form></td>
        	<td><form><input id="entry1-simplified", type="text"></form></td>
        	<td><form><input id="entry1-pinyin", type="text"></form></td></tr>
        <tr><td><form><input id="entry2-traditional", type="text"></form></td>
        	<td><form><input id="entry2-simplified", type="text"></form></td>
        	<td><form><input id="entry2-pinyin", type="text"></form></td></tr>
    </tbody>
</table>

<button onclick="selectElementContents( document.getElementById('cihuibiao') )">Select Table</button>

